*{
    margin: 0;
    padding: 0;
    background-color: #2f2325;
}

h1{
    color: #e58e7b;
    text-align: center;
    margin-bottom: 0;
}

h2{
    color: white;
}

p{
    color: white;
}

.main{
    background-color: #998a85;
}
